.orders-page {
	.ordered-item {
		border-top: solid 1px black;
		border-bottom: solid 1px black;
		margin: 15px;
		.ordered-item-actions {
			display: flex;
			justify-content: space-between;
		}

		p {
			margin: 0;
		}

		span {
			margin: 0 10px;
		}

		.ordered-item-block {
			margin: 10px;
			border-bottom: dashed 1px black;
		}
	}
}
